<div class="sage item">
    <img class="plant-img" src="/images/echinacea.jpg">
    <div class="caption">
        <p>Echinacea</p>
        <a href="">
            <img class="delete-icon" src="/images/trashcan.png">
        </a>
    </div>    
</div>