<div class="sage item">
    <img class="plant-img" src="/images/ginger.png">
    <div class="caption">
        <p>Ginger</p>
        <a href="">
            <img class="delete-icon" src="/images/trashcan.png">
        </a>
    </div>    
</div>