<div class="sage item">
    <img class="plant-img" src="/images/holy-basil.jpg">
    <div class="caption">
        <p>Holy Basil</p>
        <a href="">
            <img class="delete-icon" src="/images/trashcan.png">
        </a>
    </div>    
</div>