<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
    {{{body}}}
    </main>
    <footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button">About Us</button>
            <button type="button" class="footer-button">Our Plants</button>
            <button type="button" class="footer-button">My Garden</button>
            <button type="button" class="footer-button">Contact Us</button>
        </div>
    </footer>
<script src="js/bottomnav.js"></script>
</body>
</html>