    <header>
        <button type="button" class="header-button" id="my-garden-btn" onclick="window.location.href='/garden';">My Garden</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">Wild Thorn Apothecary</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button" id="signout-btn">Sign Out</button>
    </header>

    <main>
        <div class="garden">
            <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur repellat a quam quo rem amet ea nisi vitae, odio fugit dolorum laborum perspiciatis architecto consectetur, pariatur cupiditate, optio quia? Iste blanditiis rerum quam minima, nulla quis laudantium aliquam, in optio, ullam temporibus odit eveniet accusantium consequatur quo excepturi ratione.</p>
        </div>
    </main>


    <footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button" onclick="window.location.href='/userplants';">Home</button>
            <button type="button" class="footer-button">My Garden</button>
            <button type="button" class="footer-button" onclick="window.location.href='/ourplants';">Our Plants</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
    </footer>
