    <header>
        <button type="button" class="header-button" id="my-garden-btn" onclick="window.location.href='/garden';">My Garden</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">Wild Thorn Apothecary</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button" id="signout-btn">Sign Out</button>
    </header>

    <main>
        <div class="garden">
            <h2 class="about-text">Hello, and thank you for visiting Wild Thorn Apothecary!</h2>
            <p class="about-text">We're a small business that believes in the healing power of plants and aim to provide knowledge and encouragement to those who are looking
               to grow their own medicinal garden.
            </p>
            <p class="about-text">Many herbalist boutiques and specialty shops will charge outrageous amounts for tinctures and teas. While specialty blends can be
                powerful, many remedies can be made in the comfort of your own home. Use our gardening tool to search for plants that offer benefits suitable for you! We
                will email you a list of your choices to bring to your local nursery. Buying plants and gardening yourself is much more cost efficient and supports your
                local growers.
            </p>
            <p class="about-text">Have questions? Use the link below to contact us! Sign up above to start your own garden or view our recommended plants.
            </p>
        </div>
    </main>


    <footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button" onclick="window.location.href='/userplants';">Home</button>
            <button type="button" class="footer-button" onclick="window.location.href='/garden';">My Garden</button>
            <button type="button" class="footer-button" onclick="window.location.href='/ourplants';">Our Plants</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
    </footer>
