    <header>
        <button type="button" class="header-button">Home</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">My Garden</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button">Sign Out</button>
    </header>

    <main>
        
    </main>

    <!--add in "send email" button-->