    <header>
        <button type="button" class="header-button" id="home-btn" onclick="window.location.href='/userplants';">Home</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">My Garden</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button" id="signout-btn">Sign Out</button>
    </header>

    <main>
        <div class="plant-box">
            <div class="garden">
                <div class="plants">
                    {{!-- {{> no-plants}} --}}
                    <!--placeholder partial tags, remove for final product-->
                    {{> chamomile}}
                    {{> calendula}}
                    {{> english-lavender}}
                    {{> holy-basil}}
                    {{> nettle}}
                    {{> peppermint}}
                    {{> yarrow}}
                    {{> sage}}
                    {{> echinacea}}
                    {{> hawthorn}}
                    {{> ginger}}
                    {{> turmeric}}
                </div>
            </div>
        </div>

        <div class="search">
            <form id="searchForm">
                <input type="text" id='searchInput' placeholder="Enter plant name...">
                <button type="submit"></button>
            </form>
        </div>

    </main>

    <footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button" onclick="window.location.href='/';">Home</button>
            <button type="button" class="footer-button">About Us</button>
            <button type="button" class="footer-button" onclick="window.location.href='/ourplants';">Our Plants</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
    </footer>

    <!--add in "send email" button-->
    <script src="/js/garden.js"></script>