    <header>
        <button type="button" class="header-button" id="home-btn" onclick="window.location.href='/userplants';">Home</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">My Garden</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button" id="signout-btn">Sign Out</button>
    </header>

    <main>
        <div class="plant-box">
            <div class="garden">
                <div class="plants">
                    {{!-- {{> no-plants}} --}}
                    {{> chamomile}}
                    {{> calendula}}
                    {{> english-lavender}}
                    {{> holy-basil}}
                    {{> nettle}}
                    {{> peppermint}}
                    {{> yarrow}}
                    {{> sage}}
                    {{> echinacea}}
                    {{> hawthorn}}
                </div>
            </div>
        </div>

        <div class="search-card">
            <div class="plant-search">
                <div class="search">
                    <form class="search-form">
                        <input type="text" placeholder="Enter plant name...">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <div class="search-result">

                </div>
            </div>      
        </div>

        <button class="email-me">Email Me</button>
    </main>

    <footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button">Home</button>
            <button type="button" class="footer-button">About Us</button>
            <button type="button" class="footer-button">Our Plants</button>
            <button type="button" class="footer-button">Contact Us</button>
        </div>
    </footer>

    <!--add in "send email" button-->
    <script src="/js/garden.js"></script>