{{!-- Write all of the HTML for the page inside of this document, except for the <head> tag. This would contain everything inside of <main>. --}}
    test
    <header>
        <button type="button">Sign In</button>
        <div class="logo">
            <h1 class="logo-text">{{title}}</h1>
        </div>
        <button type="button">Sign Up</button>
    </header>