{{!-- Write all of the HTML for the page inside of this document, except for the <head> tag. This would contain everything inside of <main>. --}}
    <header>
        <button type="button" class="header-button" id="signin-btn" onclick="window.location.href='/signin';">Sign In</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">Wild Thorn Apothecary</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button" id="sign-up-btn" onclick="window.location.href='/signup';">Sign Up</button>
    </header>

    <main>
        <div class="hero">
            <img src="/images/hero.jpg" class="poster">
            <div class="side-content">
                <div class="description">Welcome to Wild Thorn Apothecary! Here you can build your dream apothecary garden. Choose any plants from within our database based on the ailments they help, what climate is best for them, and what type of plant they are. In your garden, You can drag and drop plants into your garden to plan out your garden at home. Click the "Start a Garden" button below to start planting!</div>
                <button type="button" class="hero-button" id="start-garden-btn" onclick="window.location.href='/signup';">Start a Garden</button>
            </div>
        </div>

        <div class="featured">
            <h1>Featured Plants</h1>
            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Chamomile</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/chamomile.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/sage.jpg">
                <div class="item-card">
                    <h2 class="item-name">Sage</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a>

            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Nettle</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/nettle.jpg">
            </a>

            <button type="button" class="all-button">View All</button>
        </div>
    </main>

    <footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button">About Us</button>
            <button type="button" class="footer-button" onclick="window.location.href='/ourplants';">Our Plants</button>
            <button type="button" class="footer-button" onclick="window.location.href='/garden'">My Garden</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
    </footer>

    <script src="/js/home.js"></script>