{{!-- Write all of the HTML for the page inside of this document, except for the <head> tag. This would contain everything inside of <main>. --}}
    <header>
        <button type="button" class="header-button">Sign In</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">Wild Thorn Apothecary</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button">Sign Up</button>
    </header>

    <main>
        <div class="hero">
            <img src="/images/hero.jpg" class="poster">
            <div class="side-content">
                <div class="description">text text text</div>
                <button type="button" class="hero-button">Start a Garden</button>
            </div>
        </div>
    </main>