<header>
    <button type="button" class="header-button" id="signin-btn">Sign In</button>
    <div class="logo">
        <img class="filigree fill-left" src="/images/filigree-right.png">
        <h1 class="logo-text">Wild Thorn Apothecary</h1>
        <img class="filigree fill-right" src="/images/filigree-left.png">
    </div>
    <button type="button" class="header-button">Sign Up</button>
</header>

<main id="appendlist">
            {{!-- <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Calendula</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/calendula.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/chamomile.jpg">
                <div class="item-card">
                    <h2 class="item-name">Chamomile</h2>
                    <p>Chamomile or camomile is the common name for several daisy-like plants of the family Asteraceae. Two of the species, Matricaria chamomilla and Chamaemelum nobile, are commonly used to make herbal infusions for beverages.</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a> --}}
{{!-- 
            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Echinacea</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/echinacea.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/english-lavender.jpg">
                <div class="item-card">
                    <h2 class="item-name">English Lavender</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a>

            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Ginger</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/ginger.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/hawthorn.jpg">
                <div class="item-card">
                    <h2 class="item-name">Hawthorn</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a>

            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Holy Basil</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/holy-basil.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/nettle.jpg">
                <div class="item-card">
                    <h2 class="item-name">Nettle</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a>

            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Peppermint</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/peppermint.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/sage.jpg">
                <div class="item-card">
                    <h2 class="item-name">Sage</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a>

            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Turmeric</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/turmeric.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/yarrow.jpg">
                <div class="item-card">
                    <h2 class="item-name">Yarrow</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <div class="stats">
                        <p>Climate: Warm</p>
                        <p>Type: Plant</p>
                        <div class="ailment-list">
                            <p class="ailment">Ailments:</p>
                            <ul>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                                <li>Ailment</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a> --}}
</main>

<footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button" onclick="window.location.href='/';">Home</button>
            <button type="button" class="footer-button">About Us</button>
            <button type="button" class="footer-button" onclick="window.location.href='/garden'">My Garden</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
</footer>
<script src="/js/plantlist.js"></script>