<header>
    <button type="button" class="header-button" id="signin-btn" onclick="window.location.href='/signin';">Sign In</button>
    <div class="logo">
        <img class="filigree fill-left" src="/images/filigree-right.png">
        <h1 class="logo-text">Wild Thorn Apothecary</h1>
        <img class="filigree fill-right" src="/images/filigree-left.png">
    </div>
    <button type="button" class="header-button" onclick="window.location.href='/signup';">Sign Up</button>
</header>

<main id="appendlist">
    
</main>

<footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button" onclick="window.location.href='/';">Home</button>
            <button type="button" class="footer-button" onclick="window.location.href='/about';">About Us</button>
            <button type="button" class="footer-button" onclick="window.location.href='/garden'">My Garden</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
</footer>
<script src="/js/plantlist.js"></script>