<header>
    <button type="button" class="header-button" id="signin-btn">Sign In</button>
    <div class="logo">
        <img class="filigree fill-left" src="/images/filigree-right.png">
        <h1 class="logo-text">Wild Thorn Apothecary</h1>
        <img class="filigree fill-right" src="/images/filigree-left.png">
    </div>
    <button type="button" class="header-button">Sign Up</button>
</header>

<main>
            <a href="" class="feature-item">
                <div class="item-card">
                    <h2 class="item-name">Chamomile</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
                <img src="/images/chamomile.jpg">
            </a>

            <a href="" class="feature-item">
                <img src="/images/sage.jpg">
                <div class="item-card">
                    <h2 class="item-name">Sage</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt repudiandae itaque fugiat? Veritatis impedit expedita eveniet atque ut, illum minus sunt neque inventore earum!</p>
                    <button type="button" class="feature-button">Add to Garden</button>
                </div>
            </a>
</main>

<footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button" onclick="window.location.href='/';">Home</button>
            <button type="button" class="footer-button">About Us</button>
            <button type="button" class="footer-button">My Garden</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
</footer>