    <header>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">Wild Thorn Apothecary</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
    </header>

    <main>
        <div class="title">
            <h1 class="title-card">Sign Up</h1>
        </div>
        <div class="input-card">
            <div class="input-info" id="sign-up-form">
                <form class="email-input">
                    <label for="email">Email:</label><br>
                    <input type="text" id="signUpEmail" name="email">
                </form>
                <form class="username-input">
                    <label for="username">Username:</label><br>
                    <input type="text" id="signUpUsername" name="username">
                </form>
                <form class="pwd-input">
                    <label for="password">Password:</label><br>
                    <input type="password" id="signUpPassword" name="password">
                </form>
                <form>
                    <input type="submit" value="Submit" class="submit-button">
                </form>
            <a href="/signin">Already have an account? Sign in here!</a>
            </div>
        </div>
    </main>

    <footer>
        <div class="bottom-buttons">
            <button type="button" class="footer-button" onclick="window.location.href='/';">Home</button>
            <button type="button" class="footer-button" onclick="window.location.href='/about';">About Us</button>
            <button type="button" class="footer-button" onclick="window.location.href='/ourplants';">Our Plants</button>
            <a href="mailto: b.wildthorn@gmail.com"><button type="button" class="footer-button">Contact Us</button></a>
        </div>
    </footer>
    <script src="/js/signup.js"></script>
    