    <header>
        <button type="button" class="header-button">Sign In</button>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">Wild Thorn Apothecary</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
        <button type="button" class="header-button">Sign Up</button>
    </header>

    <img src="/public/images/nettle.jpg"