    <header>
        <div class="logo">
            <img class="filigree fill-left" src="/images/filigree-right.png">
            <h1 class="logo-text">Wild Thorn Apothecary</h1>
            <img class="filigree fill-right" src="/images/filigree-left.png">
        </div>
    </header>

    <main>
        <div class="title">
            <h1 class="title-card">Sign In</h1>
        </div>
        <div class="input-card">
            <div class="input-info">
                <form class="email-input">
                    <label for="email">Email/Username:</label><br>
                    <input type="text" id="email" name="email">
                </form>
                <form class="pwd-input">
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password">
                </form>
                <form>
                    <input type="submit" value="Submit" class="submit-button">
                </form>
            <a href="">Don't have an account? Create one here!</a>
            </div>
        </div>
    </main>
    